
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
.logo{
    width:100px;
    border:3px solid white;
    border-radius: 14px;


}

 img laptop{
    /* width:100px; */
    border:3px solid white;
    border-radius: 200px;
    margin:5px;
    width:26%;

} 


.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position:sticky;
    top:0;
    cursor: pointer;
    


}
.nav-list{
width: 70%;

display:flex;
align-items: center;
}
.nav-list li{
list-style: none;
padding:20px 20px;
}

.nav-list li a{
text-decoration: none;
color: aliceblue;
font-size: 20px;
font-family: 'Ubuntu', sans-serif;
}
.nav-list li a:hover{
  
    color: rgb(197, 194, 194);
    }
.rightnav{
    width: 30%;
    padding:0 23px;

    text-align: right;
}
#search{
    padding:5px;
    font-size: 17px;
    border:2px solid grey;
    border-radius: 9px;

}
.background{
    background:rgba(0,0, 0, 0.7) url('../bg.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* max-width: 50%; */
    margin: auto;
    height:80%;
    

}
.secondhalf{
    background-image:url('../bg.jpeg');
  
    height: 500px;


}
.firsthalf{
    width:80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
.firstsection{
    height:100vh;

}
.text-big{
    font-size: 42px;

}
.text-small{
    font-size: 18px;

}
.btn{
    padding:8px 20px;
    margin:8px 3pX;
    border:2px solid white;
    border-radius: 8px;
  background: none;
  color:white;
  cursor:pointer;
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;


}
.btn-sm{
    padding:6px 10px;
    vertical-align: middle;
    font-size: 16px;

}
.btn-dark{
    color:black;
    border:2px solid grey;
    

}
.section{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    max-width: 80%;
    font-family: 'Ubuntu', sans-serif;
    padding:10px;


}
.sectionTag{
    padding:16px 0;

}
.section-left{
    flex-direction: row-reverse;

}
.paras{
    padding:0px 65px;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
.thumbnail img{
    width:250px;
    border:2px solid black;
    border-radius: 26px;
    margin-top: 19px;


}
.contact{
    background-color: #f6f5f4;
    height: 833px;

}
.text-center{
    text-align: center;
    padding-top:20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;

}
.form{
    max-width: 62%;
    margin: 26px auto;

}
.form-input{
    margin:14px 0;
    padding:5px 13px;
    width:100%;
    font-size:19px;
    border:2px solid grey;
    border-radius: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.text-footer{
    text-align: center;
   padding:30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color:white;

}
.burger{
display: none;
position: absolute;
cursor: pointer;
right : 5%;
top:15px;
z-index: 1000;

}
.line{
    width:33px;
    background-color: white;
    height:4px;
     margin:5px 3px;
}
